<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <% @songs.each do |song| %>
        <div class = "song">
          <h3><%= song.title %><small>(<%= song.votes %>)</small><br><small id="artist"><%= song.artist %></small></h3>
          <p>
            <small id="song_link"><a href="<%= song.url %>">Listen</a></small><br>
            <small>Added by <%= User.find(song.user_id).username %></small><br>
            <small><a href="/songs/upvote/<%= song.id %>">Upvote</a></small>
          </p>
          <hr/>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4">
  </div>
</div>




